<div class="panel-heading">Simulate</div>

<div class="panel-body">
  <p>Have you updated your inputs with a new entry?</p>

  <p>TODO: Add checks to disable ability to run if no new input detected since last simulation.</p>

  <br />

  <div class="field">
    <%= button_to 'Run', run_sim(simulations_path, current_user.memberships.first.group.name), method: :get %>
  </div>
</div>
