<html><head><link rel=stylesheet href=R2HTML.css type=text/css> </head><body bgcolor="#E5F5FF">  <center> <img src=R2HTMLlogo.gif> <hr size=1></center><br>
<br><li><a class=command href='./test1_main.html#Num2' target=main> HTML.title("test1", HR = 1)</a>
<br><li><a class=command href='./test1_main.html#Num3' target=main> HTML.title("Header", HR = 3)</a>
<br><li><a class=command href='./test1_main.html#Num4' target=main> summary(data)</a>
<br><li><a class=command href='./test1_main.html#Num5' target=main> HTMLhr()</a>
<br><li><a class=command href='./test1_main.html#Num6' target=main> HTML.title("second header", HR = 2)</a>
<br><li><a class=command href='./test1_main.html#Num7' target=main> plot(data)</a>