<% Course.by_teacher(current_user.email).each do |course| %>
	<% if course.days %>
		<h3><%= course.name %></h3>
		<table class="table table-striped table-hover">
			<thead>
		    	<tr>
		      		<th>Day</th>
		      		<th>Group</th>
		    	</tr>
		  	</thead>
		  	<tbody>
		  		<% (1..course.days).each do |i| %>
			  		<% Group.belongs_to_course(course.id).each do |g| %>
						<% day = 0 %>
						<% Input.belongs_to_group(g.name).each do |input| %>
							<% day += input.days %>
							<% if input == Input.belongs_to_group(g.name).last %>
								<% if day == i  %>
									<tr>
										<td><%= i %></td>
										<td><h7><%= link_to g.name, '#' %></h7></td>
									</tr>
									<% day = 0 %>
								<% end %>
							<% end %>	
						<% end %>
					<% end %>
				<% end %>
				<tr>
					<td><%= course.days %></td>
					<td>Current Open Period Ends</td>
				</tr>
		  	</tbody>
		</table>
	<% end %>
<% end %>
<% if Course.by_teacher(current_user.email).empty? %>
	<p>You must have at least one course with an updated day limit for simulations in order to view your calendar.</p>
<% end %>