<% group = @session_group %>
<% course = Course.find(group.course_id) %>
<% if course.days %>
	<h3><%= group.name %> in <%= course.name %></h3>
	<table class="table table-striped table-hover">
		<thead>
	    	<tr>
	      		<th>Day</th>
	      		<th>Status</th>
	    	</tr>
	  	</thead>
	  	<tbody>
	  		<% (1..course.days).each do |i| %>
	    		<tr>
	    			<td><%= i %></td>
	    			<td>
	    				<% day = 0 %>
	    				<% Input.belongs_to_group(group.name).each do |input| %>
	    					<% day += input.days %>
	    				<% end %>
	    				<% if day >= i %>
	    					Completed
	    				<% else %>
	    					Open
	    				<% end %>
	    			</td>
	    		</tr>
	    	<% end %>
	  	</tbody>
	</table>
<% end %>


<hr />
<%= button_to 'Back', :back, method: :get, class: 'btn btn-sm btn-primary' %>