<div class="main">
	<h2 class="main-heading">Calendar</h2>
	<% if current_user.instructor? %>
		<%= render 'icalendar' %>
	<% else %>
		<%= render 'scalendar' %>
	<% end %>

	<hr />
	<%= button_to 'Back', :back, method: :get, class: 'btn btn-sm btn-primary' %>
</div>