<div class="panel-body">
  <%= render 'form' %>
  <hr />
  <%= button_to 'Back', :back, method: :get, class: 'btn btn-sm' %>
  <%= button_to 'Show', @input, method: :get, class: 'btn btn-sm' %>
</div>
