<div class="main">
    <h3 class="main-heading">Welcome to the homepage for administrators.</h3>
    <ul>
    	<li>The <i>Forum</i> link allows you to interact with students and instructors on the forum. Additionally, you are a global forum moderator and are able to edit and delete posts.</li>
    	<li>The <i>Users</i> link allows you to edit or delete a user's account should the need arise.</li>
    </ul>
</div>
