<div class="panel-heading">Control Panel</div>

<div class="panel-body">
  <%= link_to 'Forum', posts_path, class: 'btn btn-lg' %><br />
  <%= link_to 'Classes', courses_path, class: 'btn btn-lg' %><br />
  <%= link_to 'Calendar', root_path, class: 'btn btn-lg' %>
</div>
