<ul class="nav navbar-nav">
  <li><%= link_to 'Forum', posts_path %></li>
  <li><%= link_to 'Classes', courses_path %></li>
  <<li><%= link_to 'Calendar', calendar_index_path %></li>
  <li><%= link_to 'Leaderboard', '#' %></li>
</ul>
