<div class="main">

  <h3 class="main-heading">Welcome to the homepage for instructors!</h3> 

  <ul>
  	<li>The <i>Classes</i> link will allow you to create new classes, modify existing classes and remove old classes!</li>

  	<li>The <i>Forum</i> link will take you to the discussion forum, where you can post resources, guidelines, answer questions and interact with your students.</li>

  	<li>The <i>Calendar</i> link will take you to your pacing center for your classes. Advancing the available simulation dates allows for the student groups to contnue progressing with their simulations.</li>

  	<li>The <i>Leaderboard</i> link will let you see how the groups are doing in relation to each other.</li>
  </ul>
</div>
