<div class="main-body">

  <h3>Welcome to the homepage for instructors!</h3> 

  <ul>
  	<li>The <i>Classes</i> button will allow you to create new classes, modify existing classes and remove old classes!</li>

  	<li>The <i>Forum</i> button will take you to the discussion forum, where you can post resources, guidelines, answer questions and interact with your students.</li>

  	<li>The <i>Calendar</i> button will take you to your pacing center for your classes. Advancing the available simulation dates allows for the student groups to contnue progressing with their simulations.</li>
  </ul>
</div>
