<div class="panel-heading">Welcome Instructor!</div>

<div class="panel-body">

  <p>Welcome to the homepage for instructors. On the left you will see the control panel, from which you can control nearly every aspect of your class's simulation.</p>
