<div class="main">
  <h3>Welcome to the homepage for students!</h3>

  <% unless current_user.memberships.exists? %>
      <hr />
      <p><i>Note:</i> You are not a member of any group. Please contact your instructor in order to be placed within a group.</p>
      <hr />
  <% end %>
  
  <ul>
    <li>The <i>Groups</i> link will allow you to manage the simulation for your group. There you are able to make and change your input decisions, run the simulation, and review the results.</li>
    
    <li>The <i>Forum</i> link will allow you to post to a communal forum accessible by your group, other groups in the class and your instructor. There you will be able to review resources and information relevant to this simulation.</li>

    <li>The <i>Leaderboard</i> link will let you see how your group is faring compared to all other groups!</li>
  </ul>
  
</div>


