<div class="panel-heading">Welcome Student</div>

<div class="panel-body">
  <div class="jumbotron">
    <% if current_user.memberships.exists? %>
    	<% current_user.memberships.each do |m| %>
      		<li>You are a member of the group: <%= m.group.name %>, in <%= Course.find(m.group.course_id).name %>.</li>
      	<% end %>
    <% else %>
      <p>You are not a member of any group. Please contact your instructor in order to be placed within a group.</p>
    <% end %>
  </div>
  <p>Welcome to the homepage for students. To the left you will see links for control and navigation of this application.</p>
</div>


