
<div class="main">
	<h2 class="main-heading">FluSim</h2>
	
    <p>Welcome to FluSim, a senior design project from Western Michigan University's Computer Science department.</p>
    <p>Created by Hassan Alshammasy, Austin Smith, James Kwapien and Caleb Viola.</p>
</div>
