<div class="panel-heading">Editing Enrollment</div>

<div class="panel-body">
	<%= render 'form' %>
	<hr />
	<%= button_to 'Show', @enrollment, method: :get, class: 'btn btn-sm' %>
	<%= button_to 'Back', :back, method: :get, class: 'btn btn-sm' %>
</div>
