
<div class="main">
	<h2 class="main-heading">Editing Enrollment</h2>
	<%= render 'form' %>
	<hr />
	<%= button_to 'Show', @enrollment, method: :get, class: 'btn btn-sm' %>
	<%= button_to 'Back', :back, method: :get, class: 'btn btn-sm' %>
</div>
