<div class="main">
	<h2 class="main-heading">Editing Class</h2>

	<% if Enrollment.in_course(@course.id).present? %>
		<%= render 'calendar' %>
	<% else %>
		<%= render 'form' %>
	<% end %>
	<hr />
	<%= button_to 'Back', @course, method: :get, class: 'btn btn-sm btn-primary' %>
</div>