<div class="panel-heading">Editing Course</div>

<div class="panel-body">
	<% if Enrollment.in_course(@course.id).present? %>
		<%= render 'calendar' %>
	<% else %>
		<%= render 'form' %>
	<% end %>
	<hr />
	<%= button_to 'Back', @course, method: :get, class: 'btn btn-sm btn-primary' %>
</div>