.main
	= button_to "New Post", new_post_path, method: :get, class: "btn btn-lg btn-primary"
	%br
	%br
	%hr
	#posts
		- @posts.each do |post|
			.post
				%h2.forum-header= link_to post.title, post
				%p.date
					Published 
					= time_ago_in_words(post.created_at)
					ago by
					= post.user.email
			%hr

