<h1>Groups</h1>

<table class="table-striped table-hover">
  <thead>
    <tr>
      <th>Group</th>
      <th colspan="1">Controls</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td></td>
      <td><%= link_to 'Show', user %></td>
      <% if false %>
        <td><%= link_to 'Edit', edit_user_path(user) %></td>
        <td><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      <% end %>
    </tr>
  </tbody>
</table>

