<h1>Welcome Instructor!</h1>

<hr />

<p>This welcome page will allow you to view and edit your Classlist, Groups and Memberships via the control panel on the left. Additionally, you may assign and review grades via the Gradebook and set and unlock dats via the Calendar. Finally, a Forum shared by you and your class is available as well.</p>

<br />

<p>If you have any questions or want more information, check out the Help section, which includes a FAQ and resource library.</p>
