/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 */

/*
*= require jquery-ui
*= require fancybox
*/


/* "bootstrap-sprockets" must be imported before "bootstrap" and "bootstrap/variables" */
@import "bootstrap-sprockets";
@import "bootstrap";

/* Alerts & Notices */

.alertnotice{
    height: 10px;
    margin: 5px 5px 5px 30px;
    .notice{
        color: orange;
    }
    .alert{
        color: red;
    }
}

/* Tables */

.table-striped > tbody > tr:nth-child(2n+1) > td, .table-striped > tbody > tr:nth-child(2n+1) > th{
    background-color: #999999;
}

.table-hover > tbody > tr:hover > td, .table-hover > tbody > tr:hover > th{
    background-color: #4682B4;
    a{
        color: yellow;
    }
}

/* Navbar */

.navbar-inverse .navbar-nav > li > a:hover{
    color: yellow;
}

#navbtn{
    margin-top: 10px;
}

/* body */

.btn{
    float: left;
    margin-right: 10px;
    font-weight: bold;
}

body{
    height: 100vh;
    background-image: radial-gradient(#999, #000);
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.fancybox > img{
    height: auto;
    width: auto;
    max-height: 230px;
    max-width: 230px;
}

#main-container{
    color: black;
    a:hover{
      color: red;
    }
    h1, h2, h3{
        color: #4682B4;
        text-align: center; 
    }
    
    #main{
        width: 100%;
        padding: 75px 50px 15px 50px;
    }
    
    .panel-default{
        background: white;
        padding: 0px 0px 0px 0px;
        border-color: black;
        border-width: 5px;
        .panel-heading{
            color: black;
            background: beige;
            border-color: beige;
            text-align: center;
            font-size: 2.5em;
            font-weight: bold;
        }
        .panel-body{
        }
    }
}

.black-text{
    color: black; 
    resize: none;
}
