/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 */

/*
*= require jquery-ui
*= require fancybox
*/


/* "bootstrap-sprockets" must be imported before "bootstrap" and "bootstrap/variables" */
@import "bootstrap-sprockets";
@import "bootstrap";

/* Alerts & Notices */

@font-face {
    font-family: 'track';
    src: url('track.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}   

@font-face {
   font-family: 'zwodrei';
   src: url('zwodrei.ttf') format('truetype');
   font-weight: normal;
   font-style: normal;
}




.alertnotice{
    height: 10px;
    margin: 5px 5px 5px 30px;
    .notice{
        color: orange;
    }
    .alert{
        color: red;
    }
}

/* Tables */

.table-striped > tbody > tr:nth-child(2n+1) > td, .table-striped > tbody > tr:nth-child(2n+1) > th{
    background-color: #999999;
}

.table-hover > tbody > tr:hover > td, .table-hover > tbody > tr:hover > th{
    background-color: #4682B4;
    a{
        color: yellow;
    }
}

.table > thead > tr > th{
    font-size: 1.2em;
    font-weight: bold; 
    // font-family: 'track';
}

.navbar-brand{

}

/* Navbar */

.navbar-inverse .navbar-nav > li > a:hover{
    color: red;
}

#navbtn{
    margin-top: 10px;
}

/* body */

.btn{
    float: left;
    margin-right: 10px;
    font-weight: bold;
}

body{
    // height: 100vh;
    background: radial-gradient(#999, #000) no-repeat center center fixed;    
    --webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-family: track;
}

.fancybox > img{
    height: auto;
    width: auto;
    max-height: 230px;
    max-width: 230px;
}

#main{
    color: black;
    margin-top: 75px;
    padding: 50px 50px 15px 50px;
    background: white;
    border-color: black;
    border-width: 5px;
    border-radius: 15px;

    .main-heading{
        width: 100%;
        text-align: center;
    }

    h2.forum-header{
        font-size: 1.8em;
    }

    #posts > div{
        padding: 0px;
    }

    a:hover{
      color: red;
      text-decoration: none;
    }

    .center_header{
        color: #4682B4;
        text-align: center; 
    }
    
    .main-body{
        margin-top: 100px;
    }

    .main{
        // color: black;
        // background: beige;
        // border-color: beige;
        // text-align: center;
        // font-size: 2.5em;
        // font-weight: bold;
    }

}

.black-text{
    color: black; 
    resize: none;
}
